<nav
  class="navbar navbar-expand-lg header d-flex justify-content-between align-items-center"
>
  <!-- Logo and Tagline -->
  <a class="navbar-brand d-flex align-items-center" href="index.html">
    <img src="assets/images/logo.png" alt="Tech Prodigy Logo" class="logo" />
  </a>

  <!-- Navbar Toggle -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Nav Links -->
  <!-- <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown position-static"></li>
      <li class="nav-item">
        <a class="nav-link fw-medium" href="/portfolio.html">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-medium" href="/about.html">About Us</a>
      </li>
    </ul>
  </div> -->

  <!-- CTA Button -->
  <div class="d-none d-lg-block">
    <ul class="navbar-list">
      <li class="nav-item dropdown position-static">
        <a href="#" class="btn btn-secondary">Start free trial</a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn btn-secondary">Enquire now</a>
      </li>
    </ul>
  </div>
</nav>
